@model MealPlanner.Models.Recipe



@{
    ViewData["Title"] = "BestRatedRecipe";
}



<h1>Here's the most loved recipe!</h1>



<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>