@model MealPlanner.Models.Recipe
@{
    ViewBag.Title = "Get Inspired";
}

<p class="funny-text">Who's hungry? Let's get cooking!</p>

<style>
    .funny-text {
        font-size: 24px;
        font-weight: bold;
        color: #f67280;
        background-color: #f8b195;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
</style>

<div>
    <h3>@Model.Name</h3>
    <h4>Instructions</h4>
    <p>@Model.Instructions</p>


</div>

<p>
    @Html.ActionLink("Try another recipe", "GetInspired")
</p>



