<head>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com" />
</head>
<div class="container" >
    <h4 class="text-2xl font-bold text-gray-700 mb-2">Search for a meal</h4>
    <hr class="my-4">
</div>
<div class="w-full md:w-1/2 mx-auto">
    <form asp-action="ShowSearchResults" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label for="SearchPhrase" class="block text-gray-700 text-sm font-bold mb-2">Enter the name of the meal you're looking for and hit search</label>
            <br><br>
            <input name="SearchPhrase" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Meal name">
        </div>
        <div class="flex items-center justify-between">
        
            <button type="submit" class="btn-info hover:bg-blue-700 hover:shadow-lg hover:transition hover:duration-500 hover:ease-in-out text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Search
            </button>

        </div>
    </form>
    <div class="text-center">
        <a asp-action="Index" class="text-gray-500 hover:text-gray-700">Back to List</a>
    </div>
</div>